{% extends 'header_template.html' %}
{% load static %}
{% block content %}
{% url 'list_event'%}
<div class="container d-flex justify-content-center mt-5" style="width: 50%;">
    <div class="col mt-5 text-center">
        <h1 class="mb-5">Delete Event</h1>

        <p class="h5">Are you sure you want to delete the Event:</p>
        <h3 class="my-5">{{ event.title }}</h3>
        <form action="" method="POST">
            {% csrf_token %}
            <a class="btn btn-danger btn-lg" href="{% url 'list_event' %}">Cancel</a>
            <input type="submit" class="btn btn-primary btn-lg" value="Confirm">
            
        </form>
    </div>
</div>
{% endblock %}