SECRET_KEY='...'
DEBUG=True
ALLOWED_HOSTS='*'
DATABASE_URL=postgres://USER_DB:PASSWORD_DB@DB_HOST:DB_PORT/DB_NAME
WEB_HOST=0.0.0.0

DATABASE_NAME=postgres
POSTGRES_USER=<user_db>
POSTGRES_PASSWORD=<password_db>

DB_ODOO=<db_name_odoo>
USER_ODOO=<email_admin_odoo>
TOKEN_ODOO=<token_odoo>
URL_ODOO=http://web-odoo